In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
### Reading train and test data ###
test_df= pd.read_csv('unfinished.csv', sep=',', header=0)
train_df= pd.read_csv('finished.csv', sep=',', header=0)

### merging data ###
df = pd.concat([train_df, test_df], ignore_index=True)
df_processed = df.copy(deep=True)

In [3]:
### changing some of the categories to numerical values ###
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

le.fit(df_processed.country)
df_processed.country = le.transform(df.country)

le.fit(df_processed.currency)
df_processed.currency = le.transform(df.currency)

le.fit(df_processed.staff_pick)
df_processed.staff_pick = le.transform(df.staff_pick)

le.fit(df_processed.category)
df_processed.category = le.transform(df.category)

le.fit(df_processed.location)
df_processed.location = le.transform(df.location)

le.fit(df_processed.is_starrable)
df_processed.is_starrable = le.transform(df.is_starrable)

le.fit(df_processed.disable_communication)
df_processed.disable_communication = le.transform(df.disable_communication)

LabelEncoder()

LabelEncoder()

LabelEncoder()

LabelEncoder()

LabelEncoder()

LabelEncoder()

LabelEncoder()

In [4]:
# checking the dataframes
df_processed.describe()
df.describe()

print("disable communication")
df_processed.disable_communication.value_counts()
df.disable_communication.value_counts()
print("staff pick")
df_processed.staff_pick.value_counts()
df.staff_pick.value_counts()
print("is_starrable")
df_processed.is_starrable.value_counts()
df.is_starrable.value_counts()

,backers_count,category,country,creator,currency,disable_communication,goal,is_starrable,staff_pick,usd_pledged,location,blurb_length,duration
count,168344.000000,168344.000000,168344.000000,1.683440e+05,168344.000000,168344.0,1.683440e+05,168344.000000,168344.000000,1.683440e+05,168344.000000,168344.000000,168344.000000
mean,135.645957,84.273036,18.246555,1.073365e+09,11.116886,0.0,4.126582e+04,0.021997,0.131540,1.115025e+04,6856.251580,19.389559,33.527117
std,950.459713,47.943667,5.770724,6.199783e+08,3.853517,0.0,1.126406e+06,0.146673,0.337991,8.341868e+04,3863.130891,4.797241,12.706554
min,0.000000,0.000000,0.000000,3.000000e+00,0.000000,0.0,1.000000e-02,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000
25%,3.000000,46.000000,21.000000,5.371819e+08,13.000000,0.0,1.570310e+03,0.000000,0.000000,1.000000e+02,3106.000000,17.000000,30.000000
50%,25.000000,87.000000,21.000000,1.072871e+09,13.000000,0.0,5.000000e+03,0.000000,0.000000,1.426000e+03,7068.000000,20.000000,30.000000
75%,81.000000,124.000000,21.000000,1.610313e+09,13.000000,0.0,1.250000e+04,0.000000,0.000000,5.892309e+03,9935.000000,23.000000,35.000000
max,105857.000000,167.000000,21.000000,2.147465e+09,13.000000,0.0,1.523501e+08,1.000000,1.000000,1.026685e+07,13945.000000,35.000000,92.000000

,backers_count,creator,goal,usd_pledged,blurb_length,duration
count,168344.000000,1.683440e+05,1.683440e+05,1.683440e+05,168344.000000,168344.000000
mean,135.645957,1.073365e+09,4.126582e+04,1.115025e+04,19.389559,33.527117
std,950.459713,6.199783e+08,1.126406e+06,8.341868e+04,4.797241,12.706554
min,0.000000,3.000000e+00,1.000000e-02,0.000000e+00,0.000000,1.000000
25%,3.000000,5.371819e+08,1.570310e+03,1.000000e+02,17.000000,30.000000
50%,25.000000,1.072871e+09,5.000000e+03,1.426000e+03,20.000000,30.000000
75%,81.000000,1.610313e+09,1.250000e+04,5.892309e+03,23.000000,35.000000
max,105857.000000,2.147465e+09,1.523501e+08,1.026685e+07,35.000000,92.000000

disable communication

0    168344
Name: disable_communication, dtype: int64

False    168344
Name: disable_communication, dtype: int64

staff pick

0    146200
1     22144
Name: staff_pick, dtype: int64

False    146200
True      22144
Name: staff_pick, dtype: int64

is_starrable

0    164641
1      3703
Name: is_starrable, dtype: int64

False    164641
True       3703
Name: is_starrable, dtype: int64

In [5]:
## dropping unnecessary categories from the data table ##
drop_list = ['urls', 'disable_communication', 'is_starrable']
df_processed.drop(drop_list, axis=1, inplace = True)

In [6]:
## removing some anomalies before standardizing ##

df_processed = df_processed.loc[(df_processed.usd_pledged <= 5000000) | (df_processed.goal <= 20000000)]

In [7]:
## standardizing data ##
standard = ['duration', 'blurb_length', 'goal']

from sklearn.preprocessing import StandardScaler

for n in standard:
    scaler = StandardScaler().fit(df_processed[n].values.reshape(-1,1))
    scaled_x = scaler.transform(df_processed[n].values.reshape(-1,1))
    df_processed[n] = scaled_x

C:\Users\Janne\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [8]:
## separating train and test data ##
finished_proc = df_processed.loc[df_processed.state != 'live']
unfinished_proc = df_processed.loc[df_processed.state == 'live']

In [9]:
finished_proc.describe()
unfinished_proc.describe()

,backers_count,category,country,creator,currency,goal,staff_pick,usd_pledged,location,blurb_length,duration
count,164399.000000,164399.000000,164399.000000,1.643990e+05,164399.000000,164399.000000,164399.000000,1.643990e+05,164399.000000,164399.000000,164399.000000
mean,136.960109,84.429814,18.291480,1.073635e+09,11.148036,0.000133,0.133127,1.125808e+04,6855.863436,0.001142,-0.004316
std,959.504120,47.978187,5.740394,6.199402e+08,3.833766,1.009656,0.339713,8.416499e+04,3862.975715,1.000219,1.000232
min,0.000000,0.000000,0.000000,3.000000e+00,0.000000,-0.036635,0.000000,0.000000e+00,0.000000,-4.041827,-2.559877
25%,3.000000,46.000000,21.000000,5.375422e+08,13.000000,-0.035239,0.000000,1.000000e+02,3106.000000,-0.498113,-0.277583
50%,25.000000,88.000000,21.000000,1.073596e+09,13.000000,-0.032196,0.000000,1.483092e+03,7068.000000,0.127249,-0.277583
75%,82.000000,124.000000,21.000000,1.610277e+09,13.000000,-0.025538,0.000000,6.000000e+03,9934.000000,0.752610,0.115916
max,105857.000000,167.000000,21.000000,2.147465e+09,13.000000,135.217046,1.000000,1.026685e+07,13945.000000,3.254055,4.601803

,backers_count,category,country,creator,currency,goal,staff_pick,usd_pledged,location,blurb_length,duration
count,3945.000000,3945.000000,3945.000000,3.945000e+03,3945.000000,3945.000000,3945.000000,3.945000e+03,3945.000000,3945.000000,3945.000000
mean,80.881622,77.739670,16.374398,1.062118e+09,9.818758,-0.005537,0.065399,6.656984e+03,6872.426616,-0.047599,0.179853
std,424.826061,46.015595,6.653745,6.215382e+08,4.410923,0.437686,0.247260,4.155094e+04,3870.047842,0.989927,0.973667
min,0.000000,0.000000,0.000000,2.505030e+05,0.000000,-0.036634,0.000000,0.000000e+00,2.000000,-3.833373,-2.402477
25%,1.000000,43.000000,9.000000,5.269842e+08,5.000000,-0.035303,0.000000,3.208474e+01,3267.000000,-0.498113,-0.277583
50%,9.000000,79.000000,21.000000,1.038663e+09,13.000000,-0.032196,0.000000,4.080000e+02,7068.000000,0.127249,-0.277583
75%,38.000000,114.000000,21.000000,1.611920e+09,13.000000,-0.023318,0.000000,2.390000e+03,10048.000000,0.544156,0.745514
max,12693.000000,167.000000,21.000000,2.147386e+09,13.000000,23.933484,1.000000,1.581710e+06,13940.000000,2.837148,2.083410

In [10]:
## saving processed data to new csv files ##
finished_proc.to_csv('finished_processed.csv', index = False)
unfinished_proc.to_csv('unfinished_processed.csv', index = False)